<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haier.mapper.TiCustomMapper">
    <resultMap id="TiCustomResultMap" type="com.haier.po.TiCustom">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="serviceId" jdbcType="INTEGER" property="serviceid"/>
        <result column="serviceKey" jdbcType="VARCHAR" property="servicekey"/>
        <result column="serviceName" jdbcType="VARCHAR" property="servicename"/>
        <result column="iUri" jdbcType="VARCHAR" property="iuri"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="iRequestMethod" jdbcType="INTEGER" property="irequestmethod"/>
        <result column="iContentType" jdbcType="SMALLINT" property="icontenttype"/>
        <result column="iHeaderSample" jdbcType="VARCHAR" property="iheadersample"/>
        <result column="iParamType" jdbcType="INTEGER" property="iparamtype"/>
        <result column="iParamSample" jdbcType="VARCHAR" property="iparamsample"/>
        <result column="iResponseType" jdbcType="INTEGER" property="iresponsetype"/>
        <result column="iDev" jdbcType="VARCHAR" property="idev"/>
        <result column="caseCount" jdbcType="INTEGER" property="casecount"/>
        <result column="iStatus" jdbcType="INTEGER" property="istatus"/>
        <result column="updateTime" jdbcType="TIMESTAMP" property="updatetime"/>
    </resultMap>
    <select id="selectByCondition" parameterType="com.haier.po.TiCustom" resultMap="TiCustomResultMap">
        SELECT ti.*,tservice.serviceKey,tservice.serviceName
        FROM ti INNER JOIN tservice ON ti.`serviceId`=tservice.`id` AND ti.`iStatus`>0 AND tservice.`isDel`=0
        WHERE 1=1
        <if test="_parameter != null">
            <if test="id!=null">
                AND ti.`id`=#{id}
            </if>
            <if test="iuri!=null and iuri!=''">
                AND ti.`iUri` LIKE CONCAT('%',#{iuri},'%')
            </if>
            <if test="remark!=null and remark!=''">
                AND ti.`remark` LIKE CONCAT('%',#{remark},'%')
            </if>
            <if test="idev!=null and idev!=''">
                AND ti.`iDev` = #{idev}
            </if>
            <if test="serviceid!=null and serviceid!=0">
                AND ti.`serviceId` = #{serviceid}
            </if>
            <if test="servicekey!=null and servicekey!=''">
                AND tservice.`serviceKey` = #{servicekey}
                /*由于搜索服务页面上的控件都换成了下拉,所以现在查询方式改成equal查询 luqiwei 2018/9/11*/
                /*AND (tservice.`serviceKey` LIKE #{servicekey}
                OR tservice.`serviceName` LIKE #{servicekey})*/
            </if>
            <if test="casecount!=null and casecount &lt;= 3"><!--case数量小于等于3-->
                AND ti.`caseCount`=#{casecount}
            </if>
            <if test="casecount!=null and casecount &gt; 3"><!--case数量大于3-->
                AND ti.`caseCount`>#{casecount}
            </if>

        </if>
    </select>

</mapper>