<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haier.mapper.TreportMapper">
  <resultMap id="BaseResultMap" type="com.haier.po.Treport">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="reportPath" jdbcType="VARCHAR" property="reportpath" />
    <result column="reportName" jdbcType="VARCHAR" property="reportname" />
    <result column="reportType" jdbcType="INTEGER" property="reporttype" />
    <result column="isScheduler" jdbcType="INTEGER" property="isscheduler" />
    <result column="userId" jdbcType="INTEGER" property="userid" />
    <result column="userName" jdbcType="VARCHAR" property="username" />
    <result column="customId" jdbcType="INTEGER" property="customid" />
    <result column="customName" jdbcType="VARCHAR" property="customname" />
    <result column="envId" jdbcType="INTEGER" property="envid" />
    <result column="envKey" jdbcType="VARCHAR" property="envkey" />
    <result column="serviceIds" jdbcType="VARCHAR" property="serviceids" />
    <result column="serviceNames" jdbcType="VARCHAR" property="servicenames" />
    <result column="testTime" jdbcType="TIMESTAMP" property="testtime" />
    <result column="status" jdbcType="INTEGER" property="status" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, reportPath, reportName, reportType, isScheduler, userId, userName, customId, 
    customName, envId, envKey, serviceIds, serviceNames, testTime, status
  </sql>
  <select id="selectByExample" parameterType="com.haier.po.TreportExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from treport
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from treport
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from treport
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.haier.po.TreportExample">
    delete from treport
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.haier.po.Treport">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into treport (reportPath, reportName, reportType, 
      isScheduler, userId, userName, 
      customId, customName, envId, 
      envKey, serviceIds, serviceNames, 
      testTime, status)
    values (#{reportpath,jdbcType=VARCHAR}, #{reportname,jdbcType=VARCHAR}, #{reporttype,jdbcType=INTEGER}, 
      #{isscheduler,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, 
      #{customid,jdbcType=INTEGER}, #{customname,jdbcType=VARCHAR}, #{envid,jdbcType=INTEGER}, 
      #{envkey,jdbcType=VARCHAR}, #{serviceids,jdbcType=VARCHAR}, #{servicenames,jdbcType=VARCHAR}, 
      #{testtime,jdbcType=TIMESTAMP}, #{status,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.haier.po.Treport">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into treport
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="reportpath != null">
        reportPath,
      </if>
      <if test="reportname != null">
        reportName,
      </if>
      <if test="reporttype != null">
        reportType,
      </if>
      <if test="isscheduler != null">
        isScheduler,
      </if>
      <if test="userid != null">
        userId,
      </if>
      <if test="username != null">
        userName,
      </if>
      <if test="customid != null">
        customId,
      </if>
      <if test="customname != null">
        customName,
      </if>
      <if test="envid != null">
        envId,
      </if>
      <if test="envkey != null">
        envKey,
      </if>
      <if test="serviceids != null">
        serviceIds,
      </if>
      <if test="servicenames != null">
        serviceNames,
      </if>
      <if test="testtime != null">
        testTime,
      </if>
      <if test="status != null">
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="reportpath != null">
        #{reportpath,jdbcType=VARCHAR},
      </if>
      <if test="reportname != null">
        #{reportname,jdbcType=VARCHAR},
      </if>
      <if test="reporttype != null">
        #{reporttype,jdbcType=INTEGER},
      </if>
      <if test="isscheduler != null">
        #{isscheduler,jdbcType=INTEGER},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="customid != null">
        #{customid,jdbcType=INTEGER},
      </if>
      <if test="customname != null">
        #{customname,jdbcType=VARCHAR},
      </if>
      <if test="envid != null">
        #{envid,jdbcType=INTEGER},
      </if>
      <if test="envkey != null">
        #{envkey,jdbcType=VARCHAR},
      </if>
      <if test="serviceids != null">
        #{serviceids,jdbcType=VARCHAR},
      </if>
      <if test="servicenames != null">
        #{servicenames,jdbcType=VARCHAR},
      </if>
      <if test="testtime != null">
        #{testtime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.haier.po.TreportExample" resultType="java.lang.Long">
    select count(*) from treport
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update treport
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.reportpath != null">
        reportPath = #{record.reportpath,jdbcType=VARCHAR},
      </if>
      <if test="record.reportname != null">
        reportName = #{record.reportname,jdbcType=VARCHAR},
      </if>
      <if test="record.reporttype != null">
        reportType = #{record.reporttype,jdbcType=INTEGER},
      </if>
      <if test="record.isscheduler != null">
        isScheduler = #{record.isscheduler,jdbcType=INTEGER},
      </if>
      <if test="record.userid != null">
        userId = #{record.userid,jdbcType=INTEGER},
      </if>
      <if test="record.username != null">
        userName = #{record.username,jdbcType=VARCHAR},
      </if>
      <if test="record.customid != null">
        customId = #{record.customid,jdbcType=INTEGER},
      </if>
      <if test="record.customname != null">
        customName = #{record.customname,jdbcType=VARCHAR},
      </if>
      <if test="record.envid != null">
        envId = #{record.envid,jdbcType=INTEGER},
      </if>
      <if test="record.envkey != null">
        envKey = #{record.envkey,jdbcType=VARCHAR},
      </if>
      <if test="record.serviceids != null">
        serviceIds = #{record.serviceids,jdbcType=VARCHAR},
      </if>
      <if test="record.servicenames != null">
        serviceNames = #{record.servicenames,jdbcType=VARCHAR},
      </if>
      <if test="record.testtime != null">
        testTime = #{record.testtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update treport
    set id = #{record.id,jdbcType=INTEGER},
      reportPath = #{record.reportpath,jdbcType=VARCHAR},
      reportName = #{record.reportname,jdbcType=VARCHAR},
      reportType = #{record.reporttype,jdbcType=INTEGER},
      isScheduler = #{record.isscheduler,jdbcType=INTEGER},
      userId = #{record.userid,jdbcType=INTEGER},
      userName = #{record.username,jdbcType=VARCHAR},
      customId = #{record.customid,jdbcType=INTEGER},
      customName = #{record.customname,jdbcType=VARCHAR},
      envId = #{record.envid,jdbcType=INTEGER},
      envKey = #{record.envkey,jdbcType=VARCHAR},
      serviceIds = #{record.serviceids,jdbcType=VARCHAR},
      serviceNames = #{record.servicenames,jdbcType=VARCHAR},
      testTime = #{record.testtime,jdbcType=TIMESTAMP},
      status = #{record.status,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.haier.po.Treport">
    update treport
    <set>
      <if test="reportpath != null">
        reportPath = #{reportpath,jdbcType=VARCHAR},
      </if>
      <if test="reportname != null">
        reportName = #{reportname,jdbcType=VARCHAR},
      </if>
      <if test="reporttype != null">
        reportType = #{reporttype,jdbcType=INTEGER},
      </if>
      <if test="isscheduler != null">
        isScheduler = #{isscheduler,jdbcType=INTEGER},
      </if>
      <if test="userid != null">
        userId = #{userid,jdbcType=INTEGER},
      </if>
      <if test="username != null">
        userName = #{username,jdbcType=VARCHAR},
      </if>
      <if test="customid != null">
        customId = #{customid,jdbcType=INTEGER},
      </if>
      <if test="customname != null">
        customName = #{customname,jdbcType=VARCHAR},
      </if>
      <if test="envid != null">
        envId = #{envid,jdbcType=INTEGER},
      </if>
      <if test="envkey != null">
        envKey = #{envkey,jdbcType=VARCHAR},
      </if>
      <if test="serviceids != null">
        serviceIds = #{serviceids,jdbcType=VARCHAR},
      </if>
      <if test="servicenames != null">
        serviceNames = #{servicenames,jdbcType=VARCHAR},
      </if>
      <if test="testtime != null">
        testTime = #{testtime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.haier.po.Treport">
    update treport
    set reportPath = #{reportpath,jdbcType=VARCHAR},
      reportName = #{reportname,jdbcType=VARCHAR},
      reportType = #{reporttype,jdbcType=INTEGER},
      isScheduler = #{isscheduler,jdbcType=INTEGER},
      userId = #{userid,jdbcType=INTEGER},
      userName = #{username,jdbcType=VARCHAR},
      customId = #{customid,jdbcType=INTEGER},
      customName = #{customname,jdbcType=VARCHAR},
      envId = #{envid,jdbcType=INTEGER},
      envKey = #{envkey,jdbcType=VARCHAR},
      serviceIds = #{serviceids,jdbcType=VARCHAR},
      serviceNames = #{servicenames,jdbcType=VARCHAR},
      testTime = #{testtime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>